<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.travel.itinerary.mapper.TravelItinerarySoloMetaMapper">

    <resultMap id="soloMetaResultMap" type="com.ssafy.travel.itinerary.dto.SoloItineraryMetaResponseDto">
        <result property="totalScore" column="total_score"/>
        <result property="safety" column="safety"/>
        <result property="transportAccessibility" column="transport_accessibility"/>
        <result property="routeSimplicity" column="route_simplicity"/>
        <result property="landmarkAccessibility" column="landmark_accessibility"/>
        <result property="soloDiningDifficulty" column="solo_dining_difficulty"/>
        <result property="summary" column="summary"/>
        <result property="recommendation" column="recommendation"/>
        <result property="scoreJustification" column="score_justification" javaType="java.util.Map" typeHandler="com.ssafy.global.util.mybatis.JsonTypeHandler"/>
    </resultMap>

	<delete id="deleteByProjectId">
        DELETE FROM project_itinerary_solo_meta
        WHERE project_id = #{projectId}
    </delete>

    <insert id="insertSoloMeta">
        INSERT INTO project_itinerary_solo_meta (
            project_id,
            total_score,
            safety,
            transport_accessibility,
            route_simplicity,
            landmark_accessibility,
            solo_dining_difficulty,
            summary,
            recommendation,
            score_justification
        ) VALUES (
            #{projectId},
            #{solo.soloScore.totalScore},
            #{solo.soloScore.safety},
            #{solo.soloScore.transportAccessibility},
            #{solo.soloScore.routeSimplicity},
            #{solo.soloScore.landmarkAccessibility},
            #{solo.soloScore.soloDiningDifficulty},
            #{solo.summary},
            #{solo.recommendation},
            #{solo.soloScore.scoreJustification, typeHandler=com.ssafy.global.util.mybatis.JsonTypeHandler}
        )
    </insert>

    <select id="findMetaByProjectId" resultMap="soloMetaResultMap">
        SELECT
            total_score,
            safety,
            transport_accessibility,
            route_simplicity,
            landmark_accessibility,
            solo_dining_difficulty,
            summary,
            recommendation,
            score_justification
        FROM
            project_itinerary_solo_meta
        WHERE
            project_id = #{projectId}
    </select>
</mapper>