<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.travel.place.mapper.TravelProjectPlaceMapper">

    <insert id="insertPlace" useGeneratedKeys="true" keyProperty="placeId">
        INSERT INTO project_place
        (project_id, google_place_id, place_name, place_address, latitude, longitude, thumbnail, place_type, status)
        VALUES
        (#{projectId}, #{googlePlaceId}, #{placeName}, #{placeAddress}, #{latitude}, #{longitude}, #{thumbnail}, #{placeType}, #{status})
    </insert>

	<select id="findByProjectId" resultType="com.ssafy.travel.place.entity.TravelProjectPlace">
	    SELECT place_id as placeId,
	           project_id as projectId,
	           google_place_id as googlePlaceId,
	           place_name as placeName,
	           place_address as placeAddress,
	           latitude,
	           longitude,
	           thumbnail,
	           place_type as placeType,
	           created_at as createdAt
	    FROM project_place
	    WHERE project_id = #{projectId}
	</select>
	
    <delete id="deletePlace">
    	DELETE from project_place 
    	WHERE place_id=#{placeId} and project_id=#{projectId}
    </delete>
    
    <select id="findSortedPlacesByProjectId" parameterType="map" resultType="com.ssafy.travel.place.entity.TravelProjectPlace">
        SELECT place_id as placeId,
               project_id as projectId,
               google_place_id as googlePlaceId,
               place_name as placeName,
               place_address as placeAddress,
               latitude,
               longitude,
               thumbnail,
               place_type as placeType,
               created_at as createdAt
        FROM project_place
        WHERE project_id = #{projectId}
        <if test="statusFilter != null and statusFilter != ''">
            AND status = #{statusFilter}
        </if>
        <if test="sortBy != null">
            ORDER BY
            <choose>
                <when test="sortBy == 'name'">
                    place_name
                </when>
                <when test="sortBy == 'placeType'">
                    place_type
                </when>
                <otherwise>
                    created_at
                </otherwise>
            </choose>
            <if test="order != null">
                ${order}
            </if>
        </if>
    </select>

    <select id="isPlaceExist" resultType="boolean">
        SELECT EXISTS(SELECT 1 FROM project_place WHERE project_id = #{projectId} AND google_place_id = #{googlePlaceId})
    </select>
    
    <select id="findByPlaceId" resultType="com.ssafy.travel.place.entity.TravelProjectPlace">
    	SELECT place_id as placeId,
	           project_id as projectId,
	           google_place_id as googlePlaceId,
	           place_name as placeName,
	           place_address as placeAddress,
	           latitude,
	           longitude,
	           thumbnail,
	           place_type as placeType,
	           status,
	           created_at as createdAt
	    FROM project_place
	    WHERE place_id = #{placeId}
    </select>
    
    
    <delete id="deleteAllByProjectId">
	    DELETE FROM project_place WHERE project_id = #{projectId}
	</delete>
	
    <select id="findByProjectIdAndStatus">
    	SELECT place_id as placeId,
	           project_id as projectId,
	           google_place_id as googlePlaceId,
	           place_name as placeName,
	           place_address as placeAddress,
	           latitude,
	           longitude,
	           thumbnail,
	           place_type as placeType,
	           status,
	           created_at as createdAt
	    FROM project_place
	    WHERE project_id=#{projectId} AND status=#{status}
    </select>
    
    <update id="updateStatus">
    	UPDATE project_place 
    	SET status = #{status} 
    	WHERE place_id = #{placeId}
    </update>

    <select id="findByPlaceIdAndProjectId" resultType="com.ssafy.travel.place.entity.TravelProjectPlace">
        SELECT place_id as placeId,
               project_id as projectId,
               google_place_id as googlePlaceId,
               place_name as placeName,
               place_address as placeAddress,
               latitude,
               longitude,
               thumbnail,
               place_type as placeType,
               status,
               created_at as createdAt
        FROM project_place
        WHERE place_id = #{placeId} AND project_id = #{projectId}
    </select>

    <select id="findByGooglePlaceIdAndProjectId" resultType="com.ssafy.travel.place.entity.TravelProjectPlace">
        SELECT place_id as placeId,
               project_id as projectId,
               google_place_id as googlePlaceId,
               place_name as placeName,
               place_address as placeAddress,
               latitude,
               longitude,
               thumbnail,
               place_type as placeType,
               status,
               created_at as createdAt
        FROM project_place
        WHERE google_place_id = #{googlePlaceId} AND project_id = #{projectId}
    </select>

</mapper>
