<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.travel.community.mapper.ProjectPostMapper">

    <insert id="insertPost" useGeneratedKeys="true" keyProperty="postId">
        INSERT INTO project_post (project_id, author_id, title, content)
        VALUES (#{projectId}, #{authorId}, #{title}, #{content})
    </insert>
    
    <select id="findAllPostsByProjectId" resultType="com.ssafy.travel.community.dto.response.ProjectPostListResponseDto">
	    SELECT 
	        p.post_id      AS postId,
	        p.title        AS title,
	        SUBSTRING(p.content, 1, 120) AS contentPreview,
	
	        u.user_id      AS authorId,
	        u.name         AS authorName,
	        u.profile_image AS authorProfileImage
	
	    FROM project_post p
	    JOIN users u ON p.author_id = u.user_id
	    WHERE p.project_id = #{projectId}
	    ORDER BY p.created_at DESC
	</select>
    
    <select id="findPostDetail" resultType="com.ssafy.travel.community.dto.response.ProjectPostDetailResponseDto">
	    SELECT 
	        p.post_id AS postId,
	        p.title,
	        p.content,
	        u.user_id AS userId,
	        u.name AS userName,
	        u.profile_image AS userProfileImage,
	        DATE_FORMAT(p.created_at, '%Y-%m-%d %H:%i') AS createdAt
	    FROM project_post p
	    JOIN users u ON p.author_id = u.user_id
	    WHERE p.post_id = #{postId}
	</select>
	
	<delete id="deletePost">
    	DELETE FROM project_post WHERE post_id=#{postId}
    </delete>
    
    <select id="findPostAuthorId" resultType="long">
	    SELECT author_id
	    FROM project_post
	    WHERE post_id = #{postId}
	</select>

</mapper>
