<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.travel.community.mapper.ProjectPostVoteResultMapper">
	<delete id="deleteResultsByVoteId">
	    DELETE FROM project_post_vote_result
	    WHERE vote_id = #{voteId}
	</delete>
	
	<select id="findVoteByUser" resultType="com.ssafy.travel.community.entity.ProjectPostVoteResult">
		SELECT
			result_id as resultId,
			vote_id as voteId,
			user_id as userId,
			option_id as optionId,
			voted_at as votedAt
		FROM project_post_vote_result
		WHERE vote_id = #{voteId} AND user_id = #{userId}
	</select>
	
	<insert id="insertVoteResult">
		INSERT INTO project_post_vote_result (vote_id, user_id, option_id, voted_at)
		VALUES (#{voteId}, #{userId}, #{optionId}, NOW())
	</insert>
	
	<select id="countTotalVotes" resultType="int">
        SELECT COUNT(*)
        FROM project_post_vote_result
        WHERE vote_id = #{voteId}
    </select>

    <select id="countVotesByOption" resultType="int">
        SELECT COUNT(*)
        FROM project_post_vote_result
        WHERE option_id = #{optionId}
    </select>
    
    <delete id="deleteVoteByUser">
    	DELETE FROM project_post_vote_result
    	WHERE vote_id = #{voteId} AND user_id = #{userId}
    </delete>
	
</mapper>