<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.travel.community.mapper.ProjectPostImageMapper">

    <insert id="insertImage">
        INSERT INTO project_post_image (post_id, image_url, order_no)
        VALUES (#{postId}, #{imageUrl}, #{sortOrder})
    </insert>
    
    <select id="findImagesByPostId" resultType="string">
	    SELECT image_url
	    FROM project_post_image
	    WHERE post_id = #{postId}
	</select>

</mapper>
