<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.travel.community.mapper.ProjectPostVoteMapper">

    <insert id="insertVote" useGeneratedKeys="true" keyProperty="voteId">
        INSERT INTO project_post_vote (post_id, question, multiple_choice)
        VALUES (#{postId}, #{question}, #{multipleChoice})
    </insert>

    <insert id="insertOption" useGeneratedKeys="true" keyProperty="optionId">
        INSERT INTO project_post_vote_option (vote_id, option_text, order_no)
        VALUES (#{voteId}, #{optionText}, #{orderNo})
    </insert>

    <select id="findVoteIdByPostId" resultType="Long">
        SELECT vote_id FROM project_post_vote WHERE post_id = #{postId}
    </select>

    <select id="findOptionsByVoteId"
            resultType="com.ssafy.travel.community.entity.ProjectPostVoteOption">
        SELECT option_id as optionId, vote_id as voteId, option_text as optionText, order_no as orderNo
        FROM project_post_vote_option
        WHERE vote_id = #{voteId}
        ORDER BY order_no
    </select>
    
    <select id="hasUserVoted" resultType="boolean">
	    SELECT 
	        CASE WHEN COUNT(*) > 0 THEN TRUE ELSE FALSE END
	    FROM project_post_vote_result
	    WHERE vote_id = #{voteId}
	      AND user_id = #{userId}
	</select>
	
	<select id="findVoteByPostId"
            resultType="com.ssafy.travel.community.dto.response.VoteDetailResponseDto">
        SELECT 
            v.vote_id AS voteId,
            v.question AS question,
            v.created_at AS createdAt
        FROM project_post_vote v
        WHERE v.post_id = #{postId}
    </select>
    
    <select id="findVoteEntityByPostId"
            resultType="com.ssafy.travel.community.entity.ProjectPostVote">
        SELECT 
            vote_id AS voteId,
            post_id AS postId,
            question AS question,
            multiple_choice AS multipleChoice
        FROM project_post_vote
        WHERE post_id = #{postId}
    </select>
    
    <delete id="deleteVote">
    	DELETE FROM project_post_vote WHERE vote_id=#{voteId}
    </delete>

</mapper>