<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.travel.community.mapper.ProjectPostVoteResultMapper">
	<delete id="deleteResultsByVoteId">
	    DELETE FROM project_post_vote_result
	    WHERE vote_id = #{voteId}
	</delete>
	


</mapper>